.error-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  margin: 0;
  padding: 30px 100px;

  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: white;

  background-color: tomato;
  opacity: 0.9;

  pointer-events: none;
}
